anndata>=0.10.6
#google-cloud==0.34.0
leidenalg>=0.9.1
lightly>=1.5.1
lightning_bolts>=0.7.0
matplotlib>=3.8.3
neptune>=1.9.1
numpy>=1.26.4
pandas>=1.5.3
protobuf>=4.24.4
python_igraph>=0.10.4
pytorch-lightning>=1.7.7
PyYAML>=6.0
scanpy>=1.9.8
scikit_learn>=1.4.1
scipy>=1.12.0
seaborn>=0.13.2
sphinx>=7.3.7
torch>=2.0
torchvision>=0.17.1
umap_learn>=0.5.5
